################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/LobanovaMatvienkoApi/bin/Debug/net8.0
/LobanovaMatvienkoApi/obj
/LobanovaMatvienkoApiHttpClient/bin/Debug/net8.0
/LobanovaMatvienkoWpfClient/bin/Debug/net8.0-windows
/LobanovaMatvienkoWpfClient/obj
/LobanovaMatvienkoApiHttpClient/obj/Debug/net8.0
